<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.trabalhofinal">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".ExcelActivity" />
        <activity android:name=".AutocadActivity" />
        <activity android:name=".InfoActivity" />
        <activity android:name=".JavaActivity" />
        <activity android:name=".ManutencaoActivity" />
        <activity android:name=".PhotoshopActivity" />
        <activity android:name=".ProjectActivity" />
        <activity android:name=".RedesActivity" />
        <activity android:name=".VbaActivity" />
        <activity android:name=".VoceActivity" />
        <activity android:name=".ContatosActivity" />
        <activity android:name=".NoticiasActivity" />
        <activity android:name=".CursosActivity" />
        <activity android:name=".InicioActivity" />


    </application>

</manifest>
